<div>
  <div class="row">
    <div class="col-md-11 height-30px">
      <h5>Copy Password</h5>
    </div>
    <div class="col-md-1 t-a-e">
      <button
        (click)="onCancelClick($event)"
        aria-label="Close"
        class="btn-close"
        type="button">
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <textarea [(ngModel)]="value" cols="30" id="clipboard-example-textarea" rows="1" disabled="true"></textarea>

    <button
      [cdkCopyToClipboard]="value"
      class="btn btn-primary"
      type="button">
      Copy to clipboard
    </button>
  </div>

  <hr>
</div>
