<div class="row">
  <img src="assets/images/GSKIMPACT_2020_EFC_062.jpg">

  <div class="row" style="margin-top: 20px">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="text-align: center">
      <h2>We welcome all levels of fitness and boxing ability.</h2>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-md-3">

    </div>
    <div class="col-md-6" style="text-align: center">
      <h4>
        Whether you want to learn to box or simply get fit, there's nothing better than boxing training to improve
        strength, stamina, and tone.
      </h4>
    </div>
    <div class="col-md-3">

    </div>
  </div>

  <div class="row" style="margin-top: 20px">
    <div class="col-md-4 block-3">
      <h3 style="margin-top: 7px" (click)="onClickCaloriesCalculator()">
        Calories Calculator
      </h3>
    </div>
    <div class="col-md-4 block-3">
      <h3 style="margin-top: 7px" (click)="onClickMyWorkouts()">
        My Workouts
      </h3>
    </div>
    <div class="col-md-4 block-3">
      <h3 style="margin-top: 7px" (click)="onClickExercises()">
        Exercises
      </h3>
    </div>
  </div>
</div>

