<div>
  <div class="row">
    <div class="col-md-11 height-30px">
      <h5>Reset Password</h5>
    </div>
    <div class="col-md-1 t-a-e">
      <button
        (click)="onCancelClick($event)"
        aria-label="Close"
        class="btn-close"
        type="button">
      </button>
    </div>
  </div>

  <div class="row">
    <p>
      Are you sure want to reset password of {{userDto.firstName}} {{userDto.lastName}} ? <br>
      <span style="font-size: 14px">Password will reset and send to <span
        style="font-weight: bold">{{userDto.email}}</span> email.</span>
    </p>
  </div>

  <div class="row">
    <div class="col-md-12 t-a-e">
      <button
        (click)="onPasswordReset($event)"
        class="btn btn-primary"
        type="button">
        Confirm
      </button>
      <ng-container>
        <button
          (click)="onCancelClick($event)"
          class="btn btn-secondary m-l-20"
          type="button">
          Cancel
        </button>
      </ng-container>
    </div>
  </div>
</div>
