<div class="container">
  <div>
    <img src="assets/images/GSKIMPACT_2020_EFC_062.jpg" style="width: 100%">
  </div>

  <div class="p-t-50">
    <div class="row">
      <div class="col-md-8">
        <h5>Exercises</h5>
      </div>
    </div>
  </div>

  <div class="card m-t-20">
    <div class="card-body">
      <div class="t-a-c m-t-20">
        <p>
          Choose the muscle group you want to target. Once in the muscle group, use the sort and filter options <br>
          to find the best exercises for the equipment you have, your training experience, and goals.
        </p>
      </div>

      <hr>

      <div class="row m-t-20">
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Abductors</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/abductors.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Abs</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/abs_0.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Adductors</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/adductors.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Biceps</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/biceps_0.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Calves</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/calves_0.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Chest</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/chest_0.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Forearms</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/forearms_0.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Glutes</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/glutes_0.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Hamstrings</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/hamstrings_0.jpg">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="width: 100%"
                color="primary"
                mat-raised-button>
                View
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
